.vs/
api/.vs/api/v16/.suo
api/api/obj/api.csproj.nuget.dgspec.json
api/api/obj/Debug/netcoreapp3.1/api.assets.cache
api/api/obj/Debug/netcoreapp3.1/api.csprojAssemblyReference.cache
api/api/obj/project.assets.json
api/api/obj/project.nuget.cache
api/.vs/api/config/applicationhost.config
