.feature{
    display: flex;
    align-items: center;
    justify-content: space-evenly;;
    background-color: #34498C;
    height: 100vh;
    overflow: hidden;
}

.feature__circle{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #3C569A;
}

.feature__box{
    width: 5000px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #3C569A;
    z-index: 1;
}

.feature__paragraphs{
    z-index: 10;
}

.feature__logo{
    position: relative;
}

.feature__logo--img{
    position: relative;
    width: 400px;
    height: 400px;
    z-index: 10;
}

.feature__paragraphs{
    display: flex;
    flex-flow: column;
    color: #BBC8F0;
    font-size: 3rem;
}

.feature__p{
    margin: 40px 0px;
}