.login__button{
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    width: 150px;
    border: 1px #ff9100 solid;
    border-radius: 25px;
    color: #ff9100;
    margin-left: 15px;
}

.login__button:hover{
    color: white;
    background-color: #ff9100;
}

.login__input{
    height: 50px;
    background-color: #DFDFDF;
    margin: 0px 15px;
    border: none;
    padding: 15px;
    border-radius: 25px;
}

.login__error{
    color: red;
}