.navbar{
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.navbar__logo{
    height: 50px;
}

.navbar__buttons{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.navbar__button{
    height: 50px;
    margin: 0px 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.navbar__link{
    text-decoration: none;
}

.navbar__button--register{
    width: 150px;
    border: 1px #FA555F solid;
    border-radius: 25px;
    margin-right: 0;
    color: #FA555F;
}

.navbar__button:hover {
    color: #34498C;
    transition: 0.2s;
}

.navbar__button--register:hover{
    color: white;
    background-color: #FA555F;
}

.navbar__container{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.navbar__avatar{
    content: "";
    width: 50px;
    height: 50px;
    border: 2px #34498C solid;
    margin: 0px 10px;
    overflow: hidden;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;

}

.navbar__img{
    position: relative;
    text-align: center;
    width: 46px;
    height: 46px;
    min-width: 46px;
    min-height: 46px;
}

.navbar__username{
    color: #3F3F3F;
}