.navbar{
    background-color: rgb(26, 26, 26);
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.navbar__logo{
    height: 150px;
}

.navbar__login{
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: flex-end;
}

.navbar__button{
    color: white;
    height: 50px;
    margin: 0px 30px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.navbar__link{
    text-decoration: none;
}

.navbar__button--register{
    width: 150px;
    border: 1px #ff9100 solid;
    border-radius: 25px;
    margin-right: 0;
    color: #ff9100;
}

.navbar__button:hover {
    color: #ff9100;
    transition: 0.2s;
}

.navbar__button--register:hover{
    color: white;
    background-color: #ff9100;
}

.navbar__container{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.navbar__img{
    position: relative;
    text-align: center;
    width: 21px;
    height: 21px;
    min-width: 21px;
    min-height: 21px;
}

.navbar__username{
    color:  white;
}

.navbar__pages{
    padding-top: 20px;
}