.profileSettings{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-top: 85px;
}

.profileSettings__card{
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    width: 1168px;
    height: 808px;
    background-color: #ffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 25%);
}

.profileSettings__card--headline{
    display: flex;
    align-items: center;
    color: #f5f5f5;
    font-size: 30px;
    font-weight: 400;
    padding-left: 20px;
    background-color: #3f3f3f;
    height: 40px;
}

.profileSettings__card--container{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: inherit;
}
.profileSettings__card--row{
    margin: 20px;
}

#username{
    color: #3f3f3f;
    margin-left: 70px;
}

.line{
    height: 800px;
    border-left: 2px #DFDFDF solid;
    right: 1000px;
    position: absolute;
}

.accountSet{
    background-color: #34498C;
    height: 50px;
    width: 335px;
    margin-top: 25px;
}

#account{
    font-size: 20pt;
    color: #ffff;
}

#accountSettings{
    color: #3f3f3f;
    margin-right: 160px;
    position: absolute;
    margin-bottom: 700px;
}

.info{
    position: absolute;
    display: flex;
    margin-right:-160px;
    justify-content: left;
}

#infoAccount{
    color: #3f3f3f;
    margin-left: 0px;
    margin-bottom: 390px;
}

#firstName{
    background-color: #DFDFDF;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin-top: 50px;
    position: absolute;
}

#infoAccount2{
    color: #3f3f3f;
    margin-left: 330px;
    margin-bottom: 390px;
}

#lastName{
    background-color: #DFDFDF;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin-top: 50px;
    margin-left: 450px;
    position: absolute;
}

#infoAccount3{
    color: #3f3f3f;
    margin-left: 0px;
    margin-top: 150px;
    position: absolute;
}

#email{
    background-color: #DFDFDF;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin-top: 200px;
    margin-left: 0px;
    position: absolute;
}

#infoAccount4{
    color: #3f3f3f;
    margin-left: 450px;
    margin-top: 150px;
    position: absolute;
}

#phoneNumber{
    background-color: #DFDFDF;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin-top: 200px;
    margin-left: 450px;
    position: absolute;
}

#infoAccount5{
    color: #3f3f3f;
    margin-left: 0px;
    margin-top: 300px;
    position: absolute;
}

#address{
    background-color: #DFDFDF;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin-top: 350px;
    margin-left: 0px;
    position: absolute;
}

#infoAccount6{
    color: #3f3f3f;
    margin-left: 450px;
    margin-top: 300px;
    position: absolute;
}

#city{
    background-color: #DFDFDF;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin-top: 350px;
    margin-left: 450px;
    position: absolute;
}