.profileNavbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    height: 70px;
    width: 100%;
}

.profileNavbar_logo{
    height: 50px;
}

.profileNavbar__profile--container{
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
}

.profileNavbar__profile--icon{
    content: "";
    min-width: 50px;
    min-height: 50px;
    border: 1px #34498C solid;
    border-radius: 25px;
    margin: 0px 10px;
}

.tab{
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#btn1 { border-right: 0; }

.tab__link{
    text-decoration: none;
}

.tab__button{
    display: flex;
    height: 70px;
    width: 160px;
    border: none;
    border-left: 1px #e7e7e7 solid;
    border-right: 1px #e7e7e7 solid;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    color: #3F3F3F;
}

.tab__indicator{
    height: 3px;
    width: 160px;
    left: 0;
    position: absolute;
    background-color: #34498C;
}

.tab__button--active{
    color: #34498C;
    transition: 0.2s;
}

.tab__button:hover {
    color: #34498C;
    transition: 0.2s;
}