.profileAvatar{
    overflow: hidden;
    border: #34498C 4px solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    margin: 15px;
}

.profileAvatar__img{
    position: relative;
    text-align: center;
    width: 192px;
    height: 192px;
    min-width: 192px;
    min-height: 192px;
}