.ProfileSummary__h1{
    margin-left: 50px;
}

.profileSummary__container{
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 25px;
}

.profileSummary__cards{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.profileSummary__calendar{
    width: 50%;
    display: flex;
    flex-flow: row;
}