.profileAvatar{
    overflow: hidden;
    border: #34498C 4px solid;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
    margin: 30px;
}

.profileAvatar__img{
    position: relative;
    text-align: center;
    width: 172px;
    height: 172px;
    min-width: 172px;
    min-height: 172px;
}