.profileAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: #34498C 4px solid;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
    margin: 30px;
}

.profileAvatar__img{
    width: 180px;
    height: 180px;
}