.settingsAccount__h1{
    margin-bottom: 50px;
}

.settingsAccount__form{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.settingsAccount__inputs{
    display: flex;
    flex-wrap: wrap;
}

.settingsAccount__label{
    display: flex;
    flex-flow: column;
    margin: 20px 50px 20px 0px;
    width: 40%;
}

.settingsAccount__input{
    background-color: #DFDFDF;
    border: none;
    margin: 15px 0px;
    padding: 15px;
}

.settingsAccount__submit, .settingsAccount__cancel{
    height: 50px;
    width: 150px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 25px;
    background-color: #34498C;
    color: #DFDFDF;
    margin-right: 20px;
}

.settingsAccount__cancel{
    background-color: #DFDFDF;
    color: #000;
}